<nav>
    <h1>Shopping</h1>
    <ul>
        <li>
    <form class="d-flex" role="search">
        <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
    </form>
</li>
<li>
    <a href="/userdetail" class="btn btn-primary">Login</a>
</li>
<li>
    <a href="/cart"><img  src="/images/icons8-shopping-cart-48.png" alt=""><sup>1</sup> </a>
    </li>
    </ul>
</nav>