<%- include('Partials/header')%>
<div id="main-form">
    <div class="register-form p-3">
 <form action="/login">
   <h1 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; text-align: center; margin: 2vh 0; color: blue; text-decoration: underline;">Shopping</h1>
   <p class="m-0 fw-bold">Name</p>
   <input name="name" class="w-100 form-control border border-black" type="string" placeholder="Enter your name">
   
   <button class="btn btn-primary my-3 w-100">Login</button>
   
   <p class="fw-bold my-2 text-center">Are you Existing User ?? <a class="text-decoration-none" href="/userdetail">Login</a></p>
 </form>
</div>
</div>
<%- include('Partials/footer')%>